# R project information
.Rproj.user
.Rhistory
.RData
.Ruserdata


# Ignore Rproj user files
.Rproj.user/
*.Rproj


# Ignore entire raw data folder
data/raw/


# Ignore MERRA-2 data folder
data/raw/merra2/
Data/raw/merra2_test/

.DS_Store
/data/.DS_Store
*/.DS_Store
